<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>store</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>Encoding</filter-name>
		<filter-class>com.ctgu.qmx.filter.Encoding</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/error.jsp</location>
	</error-page>
	
	<servlet>
		<servlet-name>UserInsertServlet</servlet-name>
		<servlet-class>com.ctgu.qmx.controller.UserInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserInsertServlet</servlet-name>
		<url-pattern>/UserInsert</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SellerInsertServlet</servlet-name>
		<servlet-class>com.ctgu.qmx.controller.SellerInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SellerInsertServlet</servlet-name>
		<url-pattern>/SellerInsert</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>com.ctgu.qmx.controller.UserLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/UserLogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SellerLogin</servlet-name>
		<servlet-class>com.ctgu.qmx.controller.SellerLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SellerLogin</servlet-name>
		<url-pattern>/SellerLogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckUserName</servlet-name>
		<servlet-class>com.ctgu.qmx.controller.CheckUserName</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckUserName</servlet-name>
		<url-pattern>/CheckUserName</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckSellerName</servlet-name>
		<servlet-class>com.ctgu.qmx.controller.CheckSellerName</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckSellerName</servlet-name>
		<url-pattern>/CheckSellerName</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>MoreJsp</filter-name>
		<filter-class>com.ctgu.qmx.filter.MoreJsp</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MoreJsp</filter-name>
		<url-pattern>/more.jsp</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>CommodityInsert</servlet-name>
		<servlet-class>com.ctgu.qmx.controller.CommodityInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommodityInsert</servlet-name>
		<url-pattern>/CommodityInsert</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>com.ctgu.qmx.controller.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/Upload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Page</servlet-name>
		<servlet-class>com.ctgu.qmx.controller.PageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Page</servlet-name>
		<url-pattern>/Page</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CommentInsert</servlet-name>
		<servlet-class>com.ctgu.qmx.controller.CommentInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentInsert</servlet-name>
		<url-pattern>/CommentInsert</url-pattern>
	</servlet-mapping>
</web-app>